.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 60px;
    background-image: url("../image/image\ 169.png");
    &-container {
        display: flex;
        justify-content: space-between;
    }
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px 0;

        input {
            width: 370px;
            height: 45px;
            border-radius: 3px;
            border: none;
            padding: 10px;

            &::placeholder {
                color: #6A7C9233;
            }
        }
        button {
            width: 370px;
            height: 45px;
            background-color: #DC4F26;
            border: none;
            color: white;
            border-radius: 3px;
        }
    }
    &-logo {
        margin-bottom: 30px;
        width: 120px;
    }
    &-info {
        color: white;
        h1 {
            font-size: 14px;
        }
        &-list {
            &-item{
                display: flex;

                align-items: center;
                gap: 0 10px;
                h3 {
                    font-size: 14px;
                }
            }
        }
    }
    &-register {
        color: white;
        margin-bottom: 30px;
        h1 {
            font-size: 14px;
        }
    }
    &-brick {
        width: 100%;
        height: 2px;
        background-color: white;
    }
    &-text {
        text-align: center;
        color: white;
        font-size: 14px;
        padding: 30px;
    }
}

@media screen and (max-width: 821px) {
    .footer {
        &-container {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px 0;
    
            input {
                width: 100%;
                height: 45px;
                border-radius: 3px;
                border: none;
                padding: 10px;
    
                &::placeholder {
                    color: #6A7C9233;
                }
            }
            button {
                width: 370px;
                height: 45px;
                background-color: #DC4F26;
                border: none;
                color: white;
                border-radius: 3px;
            }
        }
    }
}