.wrapper {
    max-width: 100vw;
    margin: 0 auto;

}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.brick {
    width: 150px;
    height: 2px;
    background-color: white;
    margin: 16px auto;
}
.brick-trade {
    display: flex;
    align-items: center;
    .trade {
        width: 48px;
        height: 2px;
        background-color: #DC4F26;
        margin-bottom: 12px;
        margin-right: 8px;
    }
}
.trade-star {
    display: flex;
    align-items: center;
    gap: 0 8px;
}
.btn {
    padding: 10px 20px;
    background-color: #DC4F26;
    color: white;
    text-align: center;

}
.btn-trade {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.owl-prev{
    position:absolute;
    top: 45%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.owl-prev::after {
    content:"";
    position: absolute;
    top: -13px;
    left: -10px;
    width: 40px;
    height: 40px;
    background-color: #fff !important;
    transform: rotate(45deg);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.btn-prev {
    width: 20px;
    z-index: 100;
}
.owl-next{
    position:absolute;
    bottom: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.owl-next::after {
    content:"";
    position: absolute;
    top: -13px;
    left: -10px;
    width: 40px;
    height: 40px;
    background-color: #DC4F26 !important;
    transform: rotate(45deg);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.btn-next {
    width: 20px;
    z-index: 100;
}
.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.owl-dot.active span{
    background-color: #fff !important;
}
.owl-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}