.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 90px;
    }
    &-link{
        color: white;
        position: relative;
        width: 100%;
        &:hover {
            text-decoration: none;
            color: white;
        }
        &.active {
            color: #dd4c53;
        }
        &.active::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 0;
            top: -32px;
            left: 0;
            right: auto;
            background-color: #fff;
            border-radius:100px;
            width: 100%;
        }
    }
    &-link::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        top: -32px;
        left: 0;
        right: auto;
        background-color: #fff;
        border-radius:100px;
        // transition: all 0.3s;
    }
    &-link:hover::after{
        width: 100%;
    }
    &-toggle{
        display: none;
        width: 45px;
        gap: 5px 0;
        span{
            pointer-events: none;
            width: 100%;
            height: 3px;
            background-color: white;
            display: block;
        }
    }
}
@media screen and (min-width: 768px) {
    .menu-item-auth{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #5B1317;
        width: 300px;
        z-index: 99;
        border-left: 1px solid white;
        flex-direction: column;
        gap: 30px 0;
        padding-top: 60px;
        align-items: stretch;
        transform:  translateX(100%);
        will-change: transform;
        transition: all 0.2 linear !important;
        &.is-show{
            transform: translateX(0);
        }
        &-item {
            width: 100%;
        }
        
    }
    .menu-link{
        display: block;
        width: 100%;
        padding: 20px;
    }
    .header-auth{
        display: none;
    }
    .menu-toggle{
        display:inline-flex;
        flex-direction: column;
        gap: 10px 0;
    }
    .menu-item-auth{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
    }
}
