.util {
    padding-bottom: 67px;
    background-color: #F7E7CE    ;
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        &-item {
            width: 550px;
        }
    }
    &-text {
        color: white;
        background-color: #626AAA;
        display: flex;
        align-items: center;
        padding: 10px;
        h2 {
            font-size: 18px;
        }
    }
}